/**
 * Made by Tuhin Kanti Pal
 * Visit https://tu.hin.life
 */

.heading {
    color: #00ad5f;
    font-family: Krona One;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 12px 20px;
    transform: translate(0px, 25px);
}

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    width: 340px;
    background: #ffffff;
    border-radius: 0px;
}

.showcase {
    transform: translate(0px, 50px);
    border-radius: 10px;
}

.showcasediv {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.makingposs {
    color: #1C1C1C;
    font-family: Krona One;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    padding: 12px 8px;
    transform: translate(0px, 75px);
}

.quality {
    color: #00ad5f;
    font-family: Krona One;
    font-size: 12px;
    text-align: center;
    padding: 12px 20px;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.activityb {
    box-shadow: 0px 5px 14px -7px #276873;
    background: linear-gradient(to bottom, #00ad5f 5%, #196470 100%);
    background-color: #00ad5f;
    border-radius: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 15px;
    color: #ffffff;
    font-family: Krona One;
    text-decoration: none;
    text-shadow: 0px 1px 0px #67818a;
}

.activityb:hover {
    background: linear-gradient(to bottom, #196470 5%, #00ad5f 100%);
    background-color: #196470;
}

.activityb:active {
    position: relative;
    top: 0px;
}

.loading {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pageload {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 99;
}

.logo {
    color: #1C1C1C;
    font-family: 'Bitter', serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 1px;
    padding-left: 20px;
    transform: translate(0px, 10px);
}

.paragone {
    color: #1C1C1C;
    font-family: Krona One;
    font-size: 10px;
    text-align: center;
    padding: 0px 10px;
}


/**
 * Made by Tuhin Kanti Pal
 * Visit https://tu.hin.life
 */