/**
 * Made by Tuhin Kanti Pal
 * Visit https://tu.hin.life
 */

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

.formdivt {
	min-height: 100vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	font-family: Poppins, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 15px
}

.formdivt form {
	width: 100%;
	max-width: 790px;
	padding-top: 24vh
}

.formdivt form .inner-form {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
	border-radius: 34px;
	overflow: hidden;
	margin-bottom: 30px
}

.formdivt form .inner-form .input-field {
	height: 68px
}

.formdivt form .inner-form .input-field input {
	height: 100%;
	background: 0 0;
	border: 0;
	display: block;
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #000
}

.formdivt form .inner-form .input-field input.placeholder {
	color: #222;
	font-size: 16px
}

.formdivt form .inner-form .input-field input:-moz-placeholder {
	color: #222;
	font-size: 16px
}

.formdivt form .inner-form .input-field input::-webkit-input-placeholder {
	color: #222;
	font-size: 16px
}

.formdivt form .inner-form .input-field input:focus,
.formdivt form .inner-form .input-field input:hover {
	box-shadow: none;
	outline: 0
}

.formdivt form .inner-form .input-field.first-wrap {
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	background: #d9f1e3
}

.formdivt form .inner-form .input-field.first-wrap input {
	-ms-flex-positive: 1;
	flex-grow: 1
}

.formdivt form .inner-form .input-field.first-wrap .svg-wrapper {
	min-width: 80px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center
}

.formdivt form .inner-form .input-field.first-wrap svg {
	width: 36px;
	height: 36px;
	fill: #222
}

.formdivt form .inner-form .input-field.second-wrap {
	min-width: 216px
}

.formdivt form .inner-form .input-field.second-wrap .btn-search {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	font-size: 16px;
	color: #fff;
	border: 0;
	cursor: pointer;
	position: relative;
	z-index: 0;
	background: #00ad5f;
	transition: all .2s ease-out, color .2s ease-out;
	font-weight: 300
}

.formdivt form .inner-form .input-field.second-wrap .btn-search:hover {
	background: #009451
}

.formdivt form .inner-form .input-field.second-wrap .btn-search:focus {
	outline: 0;
	box-shadow: none
}

@media screen and (max-width:992px) {
	.formdivt form .inner-form .input-field {
		height: 50px
	}
}

@media screen and (max-width:767px) {
	.formdivt form .inner-form .input-field.first-wrap .svg-wrapper {
		min-width: 40px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0 10px
	}
	.formdivt form .inner-form .input-field.first-wrap svg {
		width: 26px;
		height: 26px;
		fill: #222
	}
	.formdivt form .inner-form .input-field.second-wrap {
		min-width: 100px
	}
	.formdivt form .inner-form .input-field.second-wrap .btn-search {
		font-size: 13px
	}
}

/**
 * Made by Tuhin Kanti Pal
 * Visit https://tu.hin.life
 */